html {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

body {
  background-color: #ece8df;
  color: #295066;
  border-top: 3px solid #295066;
}

@media  (max-width: 640px) {
  html {
    font-size: 13px;
  }
}


/* sticky footer */

.Site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header,
footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.Site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
}

/* misc */

.main-pic img {
  margin: 4rem auto 4rem auto;
  width: 240px;
  border-radius: 120px;
}

@media  (max-width: 640px) {
  .main-pic img {
    margin: 3rem auto 3rem auto;
    width: 150px;
    border-radius: 750px;
  }
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.6rem;
  max-width: 400px;
  margin: auto;
  font-weight: normal;
  padding-right: 2rem;
  padding-left: 2rem;
}

/*ul {
  list-style: none;
}*/

.dark {
  background-color: #353839;
  margin: 5rem auto 5rem auto;
  padding: 5rem 3rem 5rem 3rem;
  color: #ece8df;
}

/*.break-before {
	-webkit-column-break-before: always;
	-webkit-break-before: column;
	   -moz-break-before: column;
	        break-before: column;
}*/

.dark h2 {
  margin-top: 0;
  text-align: center;
}

header nav {
  margin: 0 auto 5rem auto;
}

a {
  color: #295066;
}

nav a {
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  margin: 0 1.3rem 0 1.3rem;
  text-transform: uppercase;
  color: inherit;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  border-top: 1px solid #ece8df;
  padding-top: 0.7rem;
  line-height: 1rem
}


nav a:hover {
  border-top: 1px solid #295066;
}

@media  (max-width: 640px) {
  nav a {
    display: block;
    font-size: 0.8rem;
  }
  nav a:hover {
    border-top: 1px solid #ece8df;
    text-decoration: underline;
  }
}

hr {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    max-width: 100px;
    color: #295066;
    background-color: #295066;
    height: 3px;
}

.cuore {
  display: block;
  font-size: 2em;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #295066;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

cite {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1.3rem;
  text-align: right;
  max-width: 280px;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

article {
  max-width: 640px;
  margin: auto;
  font-family: 'Gentium Basic', serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media  (max-width: 640px) {
  article {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

em {
  font-style: italic;
}

ol {
  list-style: decimal;
  padding-left: 1rem;
}

pre {
  font-family: 'Gentium Basic', serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

blockquote:before {
  display: block;
  content: '\f10d';
  font: 0.8rem fontawesome;
  /*content: '“';
  font-size: 3rem;
  font-family: 'Gentium Basic', serif;*/
  max-height: 0.3rem;
}

/*blockquote:after {
  content: '\f10e';
  font: 0.8rem fontawesome;
  display: block;
  text-align: right;
}*/

blockquote p {
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

section h1, article h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  line-height: 2.5rem;
}

article h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  padding: 1rem 0 1rem 0;
}

article li {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

article.two {
  max-width: 1140px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

@media  (max-width: 640px) {
  article.two {
    max-width: 1140px;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}

p strong {
  font-weight: 700;
  font-size: 1.2rem;
}

p em {
  font-size: italic;
}


/* GRID */

.Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
            -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

@media  (max-width: 599px) {
  .Grid {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media  (min-width: 600px) {
  .Grid {
    max-width: 600px;
  }
}

@media  (min-width: 760px) {
  .Grid {
    max-width: 760px;
  }
}

@media  (min-width: 900px) {
  .Grid {
    max-width: 900px;
  }
}

@media  (min-width: 1200px) {
  .Grid {
    max-width: 1200px;
  }
}

.Grid-img {
  width: 200px;
  height: 200px;
  margin: 2rem 2rem 2rem 2rem;
}

.Grid-cell {
  width: 35%;
  min-width: 360px;
  height: auto;
  margin: 3rem 30px 3rem 30px;
}

@media  (max-width: 640px) {
  .Grid-cell {
    width: 100%;
    min-width: 0;
    height: auto;
    margin: 2rem 1.5rem 2rem 1.5rem;
  }
}

.Grid-cell img.floated {
  float: left;
  width: 100px;
  border-radius: 50px;
}

.Grid-cell img {
  display: block;
  width: 120px;
  border-radius: 60px;
  margin: 0 auto 0 auto;
}

.Grid-cell h2 {
  text-align: center;
}

.Grid-cell p {
  font-size: 1.1rem;
}

.Grid-cell a {
  font-style: italic;
  color: #295066;
  text-decoration: none;
}

a.more {
  font-size: 0.9em;
  font-style: italic;
  color: #295066;
  text-decoration: none;
  margin-left: 5px;
}

a.more:before {
  /*content: '\f0da';*/
  content: '';
  font: 1rem fontawesome;
  padding-right: 0.5em;
}

.Grid-cell a:hover {
  text-decoration: underline;
}

/* fixed icons */

header section.fixed {
  position: absolute;
  top: 10px;
  right: 10px;
}

header section.fixed button {
  border: 0;
  width: 30px;
  height: 30px;
  background-color: #295066;
  border-radius: 15px;
  margin-left: 5px;
  color: #ece8df;
  font-size: 0.8rem;
}

/* footer */

footer {
  min-height: 250px;
  margin-top: 5em;
  background-color: #ece8df;
  background-image: radial-gradient(#295066 15%, transparent 16%), radial-gradient(#295066 15%, transparent 16%);
  background-size:8px 8px;
  background-position: 0 0, 24px 24px;
}

footer article {
  background-color: #ece8df;
  /*background-color: rgba(236,232,223,0.9);*/
  min-width: 200px;
  min-height: 106px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media  (max-width: 640px) {
  footer article {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

footer h1, footer a, footer p {
  display: block;
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  color: #295066;
}

@media  (max-width: 640px) {
  footer h1, footer a, footer p {
    font-size: 0.9rem;
  }
}

footer a:hover {
  text-decoration: underline;
}

footer h1 {
  text-transform: uppercase;
  border-bottom: 1px solid #295066;
  letter-spacing: 0.2rem;
}

footer section.credits {
  background-color: #295066;
  /*margin-top: 4rem;*/
  padding: 2rem 0 2rem 0;
  text-align: center;
}

@media  (max-width: 640px) {
  footer .Grid {
    padding: 2rem 0 2rem 0;
  }
}


footer section.credits h1,
footer section.credits p {
  font-family: 'Gentium Basic', serif;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color:  #ece8df;
  padding: 0 1.5rem 0 1.5rem;
  max-width: 460px;
  margin: auto;
}

footer section.credits em {
  font-size: 1.2rem;
}

footer section.credits img {
  display: block;
  width: 150px;
  margin: 2em auto 2rem auto;
  opacity: 0.9;
}

footer section.below {
  background-color: #353839;
}

footer section.below p {
  color: rgba(236,232,223,0.2);
}

/* posts */

.posts  h2 {
  font-size: 1.4rem;
}

.posts a {
  text-decoration: none;
}

.posts p {
  font-size: 1rem;
}

.posts img {
  float: left;
  width: 70px;
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.Grid-cell-post {
  width: 33%;
  max-width: 460px;
  min-width: 300px;
  /*min-height: 300px;*/
  height: auto;
  padding: 10px 1rem 3rem 1rem;
}


/* figures */

figure {
  padding: 0 1rem 0 1rem;
  margin: 1rem auto 1rem auto;
  max-width: 250px;
}

figure.Grid {
  max-width: 640px;
  margin: 1rem auto 1rem auto;
}

figure.floated {
  float: right;
  padding-right: 0;
  margin: 1rem 0 1rem 0;
}

figure.floatedl {
  float: left;
  padding-left: 0;
  margin: 1rem 0 1rem 0;
}

figure img {
  width: 250px;
  padding: 0;
  border-radius: 5px;
  display: block;
  margin: auto;
}

figure figcaption {
  font-size: 0.9rem;
  line-height: 1.4rem;
  padding-top: 0.5rem;
  margin: auto;
}

figure.Grid figcaption {
  max-width: 460px;
}


img.circle {
  border-radius: 125px;
}

img.filtered {
  -webkit-filter: brightness(1.6) contrast(1.1) grayscale(0.2) hue-rotate(0deg) invert(0.2) saturate(0.5) sepia(0.2);
          filter: brightness(1.6) contrast(1.1) grayscale(0.2) hue-rotate(0deg) invert(0.2) saturate(0.5) sepia(0.2);
}

@media  (max-width: 640px) {

  figure img,
  figure figcaption {
    width: 200px;
  }

  img.circle {
    border-radius: 100px;
  }

  figure.floated {
    float: none;
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 0 1rem 0 1rem;
  }

  figure.floatedl {
    float: none;
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 0 1rem 0 1rem;
  }

}

/* share */

.share {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 0.8rem;
  max-width: 400px;
  margin: auto;
  font-weight: normal;
  text-transform: lowercase;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.share a {
  text-decoration: none;
  padding: 1rem 1rem 1rem 1rem;
  opacity: 0.4;
}

.share a:hover {
  opacity: 1;
}

.share a:before {
  content: '\f1e0';
  font: 0.8rem fontawesome;
  padding-right: 0.5rem;
}

@media  (max-width: 640px) {
  .share {
    font-size: 0.9rem;
  }
  .share a:before {
    content: '\f1e0';
    font: 0.9rem fontawesome;
    padding-right: 0.5rem;
  }
}