<hr>
<section class="Grid">
  <article class="Grid-cell">
    <a href="/attivita-3/consulenza-preadozione#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Consulenza preadozione</h2></a>
    <p>
      E’ un valido aiuto per tutti coloro che vogliono prendere un cane
      facendo una scelta ponderata e accurata. Serve per aiutarvi a scegliere
      il cane più adatto a voi, al vostro contesto famigliare,
      al vostro stile di vita, all’ambiente in cui vivete.
    </p>
    <a class="more" href="/attivita-3/consulenza-preadozione#title">Leggi ancora...</a>
  </article>

  <article class="Grid-cell">
    <a href="/attivita-3/percorsi-educativi#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Percorsi educativi</h2></a>
    <p>
      E’ una specie di “viaggio” da fare in compagnia del vostro cane
      che ha come obiettivo quello di crescere insieme! Si tratta di una serie
      di lezioni individuali che vi aiuteranno a creare una relazione speciale
      e unica con il vostro cane, in modo che lui diventi parte integrante
      della vostra vita.
    </p>
    <a class="more" href="/attivita-3/percorsi-educativi#title">Leggi ancora...</a>
  </article>

  <article class="Grid-cell">
    <a href="/attivita-3/puppy-class#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Puppy class</h2></a>
    <p>
      E’ una classe di educazione per cuccioli di qualsiasi razza e taglia di
      età compresa tra i 2 e i 6 mesi.
      E’ un corso semplice, divertente ed efficace! Serve al proprietario per
      conoscere i bisogni del cane e per imparare a comunicare con lui,
      e serve al cucciolo per capire le regole sociali del nostro mondo.
    </p>
    <a class="more" href="/attivita-3/puppy-class#title">Leggi ancora...</a>
  </article>

  <article class="Grid-cell">
    <a href="/attivita-3/classi-di-socializzazione#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Classi di socializzazione</h2></a>
    <p>
      Si lavora in un’area recintata spaziosa e i cani vengono lasciati liberi
      di interagire tra di loro con la guida di una persona esperta (ambiente “protetto”).
      Sono uno strumento prezioso e indispensabile per insegnare ai cani a
      comunicare con gli altri nel modo corretto e a comportarsi secondo
      il “galateo canino”.
    </p>
    <a class="more" href="/attivita-3/classi-di-socializzazione#title">Leggi ancora...</a>
  </article>

  <article class="Grid-cell">
    <a href="/attivita-3/percorsi-di-riabilitazione-per-problemi-comportamentali#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Percorsi di riabilitazione per problemi comportamentali</h2></a>
    <p>
      E’ un percorso che aiuta la coppia cane-proprietario a migliorare il
      loro rapporto, andando a risolvere le problematiche che lo rendono difficoltoso.
      A volte capita che vivere con un cane non sia affatto semplice,
      è fondamentale capire il motivo che lo porta a comportarsi in modo poco
      adattativo per la vita quotidiana così da regolare la stabilità familiare.
    </p>
    <a class="more" href="/attivita-3/percorsi-di-riabilitazione-per-problemi-comportamentali#title">Leggi ancora...</a>
  </article>

  <article class="Grid-cell">
    <a href="/attivita-3/progetti-per-gli-allevamenti#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Progetti per allevamenti</h2></a>
    <p>
      E’ un percorso che segue la futura mamma durante la gravidanza e i
      cuccioli da appena nati fino al momento dell’adozione.
      Consiste in una serie di incontri presso l’allevamento che servono per
      costruire le basi del carattere del cane.
    </p>
    <a class="more" href="/attivita-3/progetti-per-gli-allevamenti#title">Leggi ancora...</a>
  </article>
</section>
