<header>

    <section class="fixed">
      <!--<button><a href=""><i class="fa fa-facebook"></i></a></button>-->
      <a href="#footer">
        <button>
          <i class="fa fa-phone"></i>
        </button>
      </a>
      <a class="envelope" href="#footer">
        <button>
          <i class="fa fa-envelope"></i>
        </button>
      </a>
      <!--<button><a class="envelope" href=""><i class="fa fa-external-link"></i></a></button>-->
    </section>

    <a class="main-pic" href="{{ site.baseurl }}/"><img class="filtered" src="/images/main.jpg"></a>

    <h1>
      Vivo. Penso. Amo. Qui raccolgo i pensieri di una vita...
      di una vita dedicata ai cani, non più celati entro uno scrigno
      ma condivisi al mondo, al fine di donare anche un solo
      frammento di tanta passione.
    </h1>

    <!--<hr>-->
    <span  id="title" class="cuore">&#10084</span>

    <nav>
      <a href="/">Pensieri</a>
      <a href="/chi-siamo-2#title">Chi siamo</a>
      <a href="/l-mio-approccio#title">Il mio approccio</a>
      <a href="/attivita-3#title">Attività</a>
      <a href="/passatempi#title">Divertirsi con il cane</a>
    </nav>

</header>
