<hr>
<section class="Grid">
  <article class="Grid-cell">
    <a href="/passatempi/lavori-di-fiuto#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Lavori di fiuto</h2></a>
    <p>
      I giochi di ricerca olfattiva sono estremamente divertenti sia per il cane che per il proprietario e sono un’ottima alternativa al solito lancio della pallina o tira e molla… Consistono nel nascondere un premietto o un giocattolo da qualche parte e nel mandare il vostro cane alla sua ricerca!
    </p>
    <a class="more" href="/passatempi/lavori-di-fiuto#title">Leggi ancora...</a>
  </article>

  <article class="Grid-cell">
    <a href="/passatempi/lavori-di-mente-2#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Lavori di mente</h2></a>
    <p>
      I “problem solving” sono giochi di attivazione mentale. Consistono nel mettere il cane di fronte ad un “problema” che deve risolvere da solo, il cane metterà in atto le sue capacità e competenze per risolverlo, ad esempio userà il muso per spingere la bottiglia, le zampe per rovesciare il vasetto, i denti per sollevare il telo, e così via...
    </p>
    <a class="more" href="/passatempi/lavori-di-mente-2#title">Leggi ancora...</a>
  </article>

  <article class="Grid-cell">
    <a href="/passatempi/passeggiata-didattica-2#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>Passeggiata didattica</h2></a>
    <p>
      Le passeggiate didattiche sono delle lezioni di gruppo (più binomi) svolte in città o in mezzo alla natura, che permettono al cane di socializzare in ambienti nuovi e imparare le regole di buona educazione, inoltre aiutano il proprietario a gestire il proprio amico a quattro zampe nel migliore dei modi in ogni situazione, rafforzando la relazione tra i due.
    </p>
    <a class="more" href="/passatempi/passeggiata-didattica-2#title">Leggi ancora...</a>
  </article>

  <article class="Grid-cell">
    <a href="/passatempi/mobilitydog®#title"><img class="filtered" src="/images/Anna-e-Ariel.jpg">
    <h2>MobilityDog<span style="font-style: normal">®</span></h2></a>
    <p>
      La MobilityDog® è una disciplina cinofila non agonistica e non competitiva, riconosciuta dal csen/C.O.N.I.; si tratta di un percorso ad ostacoli che serve a migliorare e approfondire la relazione tra il cane e il suo proprietario.
    </p>
    <a class="more" href="/passatempi/mobilitydog®#title">Leggi ancora...</a>
  </article>
</section>
